#hour-container,
#minute-container,
#second-container {
  -webkit-transform-origin: 8px 8px;
}

#hour,
#minute,
#second {
  -webkit-animation-name: tick;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-transform-origin: 8px 8px;
}

#hour   { -webkit-animation-duration: 43200s }
#minute { -webkit-animation-duration: 3600s }
#second { -webkit-animation-duration: 60s }

@-webkit-keyframes tick {
    0% { -webkit-transform: rotate(0) }
  100% { -webkit-transform: rotate(360deg) }
}

@media (prefers-color-scheme: dark) {
  #minute,
  #hour {
    stroke: white
  }
}
